In [26]:
import requests
import pandas as pd
import json
import psycopg2

In [7]:
with open("token.txt") as token_do:
    token = token_do.readlines()[0]

data = {
    "token": token,
    "content": "record",
    "action": "export",
    "format": "json",
    "type": "flat",
    "csvDelimiter": "",
    "rawOrLabel": "raw",
    "rawOrLabelHeaders": "raw",
    "exportCheckboxLabel": "false",
    "exportSurveyFields": "false",
    "exportDataAccessGroups": "false",
    "returnFormat": "json",
}
r = requests.post("https://redcapdemo.vanderbilt.edu/api/", data=data)
print(f"HTTP Status: {str(r.status_code)}")

HTTP Status: 200

In [19]:
print(f"response type: {type(r.json())}")
print(f"response length: {len(r.json())}") # number of records
print(f"response keys are the same: {[r.json()[0].keys() == r.json()[i].keys() for i in range(1,len(r.json()))]}") # All dictionaries contain the same keys

response type: <class 'list'>
response length: 6
response keys are the same: [True, True, True, True, True]

In [36]:
table = pd.DataFrame(r.json())
table

,lab_id,trc_id,first_name,middle_name,last_name,suffix,date_of_birth,age,facility_name,facility_city,...,tma_nor_pos3,tma_nor_pos4,tma_preca_pos2,tma_metastatic_pos2,tma_information_complete,pulling_date1,forwhoseproject,whichslidepulled1,pulled_quant1,slide_tracking_complete
0,ABC,,,,,,,,,,...,,,,,0,,,,,0
1,ASD,,ASW,,SMITH,,1989-03-08,24,,,...,,,,,0,,,,,0
2,QWESA,,ERR,,HUMAN,,1979-10-18,41,,,...,,,,,0,,,,,0
3,QWSD,,WASD,,JOHNSSON,,1926-10-21,87,,,...,,,,,0,,,,,0
4,TYHG,,,,,,,,,,...,,,,,0,2022-10-17,,,,0
5,WQPO,,,,,,,,,,...,,,,,0,,,,,0